html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

.hidden {
    display: none;
}

:root {
    --bgColor: #d2d6d9;
    --fontColor: #2b2e33;

}

ul {
    list-style: none;
}

@font-face {
    font-family: "InterThin";
    src: url("fonts/Inter-Thin.ttf") format("truetype");
    font-weight: 100;
}

@font-face {
    font-family: "InterExtraLight";
    src: url("fonts/Inter-ExtraLight.ttf") format("truetype");
    font-weight: 200;
}

@font-face {
    font-family: "InterLight";
    src: url("fonts/Inter-Light.ttf") format("truetype");
    font-weight: 300;
}

body {
    font-family: "InterLight";
    background-color: var(--bgColor);
    color: var(--fontColor);
    display: grid;
    grid-template-rows: 15% 45% 40%;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
    width: 100vw;
    overflow: scroll;
    position: relative;
    min-width: 1400px;
    min-height: 900px;
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}


/* Location */
.location {
    font-family: "InterLight";
    display: flex;
    flex-direction: row;
    font-size: 4rem;
    grid-row: 1/2;
    grid-column: 1/3;

}

#city {
    margin-top: 2rem;
    margin-left: 4rem;
}

#country {
    margin-top: 2rem;
}

.searchLocation {
    font-family: "InterExtraLight";
    margin-left: auto;
    display: grid;
    grid-template-columns: 30rem 3rem;
    grid-template-rows: 3rem 1rem;
    align-items: start;
    padding: 0;
    margin-top: 2rem;
    margin-right: 4rem;
    padding-top: 0.9rem;
    grid-column: 2/3;
    grid-row: 1/2;
}

.searchLocation:focus {
    background-color: var(--bgColor);
    color: var(--fontColor);
}


#locationInput {
    font-family: "InterExtraLight";
    padding: 0.5rem;
    margin: none;
    box-shadow: none;
    border-radius: none;
    outline: inherit;
    width: 30rem;
    border-right: none;
    border: 1px var(--fontColor) solid;
    border-right: none;
    background-color: var(--bgColor);
    font-size: 1.5rem;
    border-radius: 0.2rem 0rem 0rem 0.2rem;
    grid-column: 1/2;
    grid-row: 1/2;


}

#error {
    font-size: 0.8rem;
    grid-column: 1/3;
    grid-row: 2/3;
    margin-top: 0.2rem;
    margin-left: 0.2rem;
}

.submitLocation {
    font: inherit;
    color: inherit;
    cursor: pointer;
    font-size: 1.5rem;
    border: 1px var(--fontColor) solid;
    background-color: var(--bgColor);
    padding: 0.1rem 0.15rem 0rem 0.1rem;
    border-radius: 0rem 0.2rem 0.2rem 0rem;
    grid-column: 2/3;
    grid-row: 1/2;
    height: 47px;
    width: 3rem;

}

/* Condition */

.conditionPlace {
    font-family: "InterExtraLight";
    display: flex;
    flex-direction: column;
    align-items: start;
    font-size: 2.3rem;
    justify-content: start;
    grid-row: 2/3;
    grid-column: 1/2;
    margin-left: 4rem;
    gap: 2rem;
}

.iconCondition {
    display: flex;
    gap: 3rem;
    padding-left: 1rem;
    align-items: center;
}


.dateTime {
    font-family: "InterExtraLight";
    width: fit-content;
    font-size: 1.8rem;

}

.conditionContainer {
    display: flex;
    flex-direction: column;
}

.btnTemp {
    font-family: "InterExtraLight";
    color: inherit;
    cursor: pointer;
    font-size: 1.5rem;
    border: 1px var(--fontColor) solid;
    background-color: var(--bgColor);
    padding: 0.5rem 1.5rem;
    margin-top: 1rem;
    border-radius: 0.2rem;
}


#weatherIcon {
    height: 15rem;
    width: 15rem;
}

/* Daily */
.daily {
    width: 50vw;
    height: 200px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50px 200px;
    gap: 1.5rem;
    grid-row: 3/4;
    grid-column: 1/2;
    margin-left: 4rem;
    padding-top: 1rem;
}


.daily>div {
    font-family: "InterExtraLight";
    grid-template-rows: 2/3;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

#dailyHeader {
    grid-column: 1/4;
    grid-row: 1/2;
    font-size: 2.3rem;
}

.dailyDate {
    font-size: 1.8rem;
}

.dailyCondition {
    font-size: 1.8rem;
}

.dailyIcon {
    width: 5rem;
    height: 5rem;
}

/* Further Details */
.furtherDetails {
    display: grid;
    grid-template-columns: 5fr 5fr;
    grid-template-rows: 20% 20% 20% 20%;
    grid-row: 2/4;
    padding-left: 7rem;
}

#feels {
    grid-row: 1/2;
    grid-column: 2/3;
}

#humidity {
    grid-row: 2/3;
    grid-column: 2/3;
}

#chance {
    grid-row: 3/4;
    grid-column: 2/3;
}

#chanceSnow {
    grid-row: 4/5;
    grid-column: 2/3;
}

#wind {
    grid-row: 5/6;
    grid-column: 2/3;
}

.furtherImg {
    width: 5rem;
    height: 5rem;
}

.furtherContainer {
    display: flex;
    gap: 1.5rem;
}

.furthertxt {
    font-size: 1.8rem;
}